@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap');
.nav-item{
	font-family: 'Turret Road', cursive !important;
}
.navbar-fixed-left {
  width: 100px;
	margin-top: -30px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 100px;
}

.navbar-fixed-left + .container {
  padding-left: 50px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
  margin-right: -100px;
}
/*wallpaper by Michelle Simpson*/
body{
	overflow: hidden;
	min-height:75rem;
	padding-top:3.0rem;
	//background:url(../img/wpb.jpg) no-repeat center center fixed;
	background:white;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	z-index: -10;
	height: 100%;
}

.jumbotron{
	margin-top:-0px;
	//opacity:1;
	//background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
	//background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.5)),url(../img/makati.jpg);
	//background-size:cover
}
.jumbo_text{
	font-family: 'Turret Road', cursive !important;
	font-size:20px;
	color:black
}

.navbar-brand{
	font-family:Staatliches,cursive!important;
	font-size:20px!important
}

.fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}

.fab{
	font-size:30px;
	width:30px;
	text-align:center;
	text-decoration:none
}

.titles{

font-family: 'Turret Road', cursive !important;
color: black;
font-size: 100px;
}

.smallz{
	font-size: 15px;
}

.blast{
	padding-top: 20px;
}

.carousel {
  width:800px;
  height:360px;
	 margin: auto;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
}

.drat {
height:1000px;

}

.breadcrumb{
	padding:2px 15px!important;
	margin-right:20px!important;
	margin-left:20px!important
}
.form-control:focus{
	box-shadow:none
}
.form-control-underlined{
	border-width:0;
	border-bottom-width:1px;
	border-radius:0;
	padding-left:0
}
.form-control::placeholder{
	font-size:.95rem;
	color:#aaa;
	font-style:italic
}
.footer {
	text-align: center;
   width: 100%;
	 background-color:white;
//background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
}

.footer .spoofs
{
padding-top:5px;
margin-top:130px;
}

.footer .spoofs span{

font-size: 25px;

}

@media (max-width: 900px)
{

	body{
		overflow: auto;
	}

	.jumbotron{
	  margin-top:-10px;
		//opacity:1;
		//background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
		//background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.5)),url(../img/makati.jpg);
		//background-size:cover
	}

	.navbar-brand{
		margin-left: -7px;
	}

	.titles{

	font-family: 'Turret Road', cursive !important;
	color: black;
	font-size: 50px;
	}

	.blast{
		font-size: 13.5px;
	}


}
